# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: build-test-v2

on:
  pull_request:
    branches: [ master ]

jobs:
  build_test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: 'mysql:5.6.49'
        env:
          MYSQL_DATABASE: test_integration_db
          MYSQL_USER: root
          MYSQL_PASSWORD: ''
          MYSQL_ROOT_PASSWORD: ''
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'
        ports:
          - 3306:3306
        options: '--health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3'

    steps:
    - uses: actions/checkout@v2.3.4
    
    - name: Cache Gradle
      uses: actions/cache@v2.1.6
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '11'

    - name: Run docker-test for pr build
      run: |
        bash tools/docker-test.sh

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo 'Build Success!'
          
    - name: Report Codecov
      uses: codecov/codecov-action@v2.0.1
      with:
        # User defined upload name. Visible in Codecov UI
        name: codecov-strada # optional
        # Repository upload token - get it from codecov.io. Required only for private repositories
        token: b9af0f87-aa2e-4a75-b753-e02f53985936 # optional
        # Path to coverage file to upload
        file: jacoco.xml # optional
        # Comma-separated list of files to upload
        # files: # optional
        # Directory to search for coverage reports.
        # directory: # optional
        # Flag upload to group coverage metrics (e.g. unittests | integration | ui,chrome)
        # flags: # optional
        # Write upload file to path before uploading
        # path_to_write_report: # optional
        # Environment variables to tag the upload with (e.g. PYTHON | OS,PYTHON)
        # env_vars: # optional
        # Specify whether or not CI build should fail if Codecov runs into an error during upload
        # fail_ci_if_error: # optional
        # Specify whether the Codecov output should be verbose
        # verbose: # optional
